<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.Smallbox.mapper.MyPageMapper">

	<!-- 회원별 찜 목록 조회-->
	<!-- 1. WHERE절로 각 회원별 찜 목록을 조회
	     2. movie 테이블의 movie_idx와 movie_like 테이블의 movie_idx을 
	        조인해 movie 테이블에서 필요한 컬럼 조회 -->
	<select id="selectLikeList" resultType="com.project.Smallbox.vo.MovieVO">
		SELECT movie.movie_idx, movie_picture, movie_title 
			FROM movie 
			JOIN movie_like ON movie.movie_idx = movie_like.movie_idx 
			WHERE member_id = #{member_id}
			LIMIT #{startRow}, #{movieLimit}
	</select>

    <!-- 각 회원이 찜한 영화 수 조회 -->
	<select id="selectLikeMovieCount" resultType="int">
		SELECT Count(*) 
			FROM movie_like 
			WHERE member_id = #{member_id}
	</select>
	
	<!-- 회원별 리뷰 목록 조회 -->
	<select id="selectReviewList" resultType="com.project.Smallbox.vo.PosterVO">
		SELECT * 
			FROM poster 
			WHERE member_id = #{member_id}
			ORDER BY comment_date
			LIMIT #{startRow}, #{commentLimit}
	</select>
	
	<!-- 각 회원이 작성한 전체 리뷰 수 조회 -->
	<select id="selectCommentListCount" resultType="int">
		SELECT COUNT(*) 
			FROM comment 
			WHERE member_id = #{member_id}
	</select>
	
	<!-- 회원별 리뷰 삭제 -->
	<delete id="deleteComment">
		DELETE 
			FROM comment 
			WHERE comment_idx = #{comment_idx}
	</delete>
	
	<!-- 회원별 쿠폰 목록 조회 -->
	<select id="selectMemberCouponList" resultType="com.project.Smallbox.vo.CouponVO">
		SELECT * 
			FROM coupon 
			WHERE member_id = #{member_id}
			ORDER BY coupon_date DESC
			LIMIT #{startRow}, #{couponLimit}
	</select>
	
	<!-- 각 회원이 가진 전체 쿠폰 수 조회 -->
	<select id="selectMemberCouponCount" resultType="int">
		SELECT Count(*) 
			FROM coupon 
			WHERE member_id = #{member_id}
	</select>
	
	<!-- 마이페이지 메인 정보 조회 -->
	<select id="selectMypageInfo" resultType="com.project.Smallbox.vo.MypageVO">
		SELECT m.member_id, m.member_email, coupon.cp_count, comment.cm_count, movie_like.ml_count
		FROM member m
			 ,(SELECT COUNT(coupon_idx) cp_count FROM coupon WHERE member_id = #{member_id}) coupon
   			 ,(SELECT COUNT(comment_idx) cm_count FROM comment WHERE member_id = #{member_id}) comment
    		 ,(SELECT COUNT(movie_idx) ml_count FROM movie_like WHERE member_id = #{member_id}) movie_like
    	WHERE member_id = #{member_id}
	</select>
	
<!-- 	마이페이지 예매내역 조회 -->
	<select id="selectReserveList" resultType="map">
		SELECT *
			FROM reserve
			WHERE member_id = #{member_id}
			ORDER BY res_date DESC
			LIMIT #{startRow}, #{reserveLimit}
	</select>
	
<!-- 	마이페이지 아이디로 예매내역 개수 조회 -->
	<select id="selectReserveListCount" resultType="int">
		SELECT COUNT(*)
			FROM reserve
			WHERE member_id = #{member_id}
	</select>
	
<!-- 	마이페이지 예매 내역 삭제 -->
	<delete id="deleteReserve">
		DELETE
			FROM reserve
			WHERE res_idx = #{res_idx}
	</delete>
	
<!-- 	마이페이지 예매취소 가능시간 판별 작업 -->
	<select id="selectTimeOk" resultType="int">
		SELECT COUNT(*) 
			FROM reserve
			WHERE res_date 
				IN (SELECT res_date FROM reserve WHERE res_date > date_format(now(),'%Y-%m-%d'))
				AND res_idx= #{res_idx}
	</select>
	
<!-- 	마이페이지 문의 작성 작업 -->
	<insert id="insertQna">
		<selectKey keyProperty="qna_idx" resultType="int" order="BEFORE">
			<!-- 가장 큰 문의글 번호(qna_idx) 조회 -->
			SELECT MAX(qna_idx) FROM qna
		</selectKey>
		INSERT 
			INTO qna 
			VALUES (
				#{qna_idx} + 1
				,#{qna_subject}
				,#{qna_content}
				,now()
				,#{qna_idx}
				,0
				,0
				,#{member_id}
			)
	</insert>
	
<!-- 	마이페이지 (회원용) 문의글 목록 조회 -->
	<select id="selectQnaList" resultType="com.project.Smallbox.vo.QnaVO">
			SELECT * 
					FROM qna a, (SELECT qna_re_ref FROM qna WHERE member_id = #{member_id}) id_ref
					WHERE a.qna_re_ref = id_ref.qna_re_ref
					ORDER BY a.qna_re_ref DESC, a.qna_re_seq ASC
					LIMIT #{startRow}, #{qnaLimit}
<!-- 		SELECT * -->
<!-- 			FROM qna -->
<!-- 			WHERE member_id = #{member_id} -->
<!-- 			ORDER BY qna_date DESC -->
<!-- 			LIMIT #{startRow}, #{qnaLimit} -->
	</select>
	
<!-- 	마이페이지 (회원용) 회원아이디로 문의 내역 개수 조회 -->
	<select id="selectQnaListCount" resultType="int">
			SELECT COUNT(*)
				FROM qna a, (SELECT qna_re_ref FROM qna WHERE member_id=#{member_id}) id_ref
				WHERE a.qna_re_ref = id_ref.qna_re_ref
<!-- 		SELECT COUNT(*) -->
<!-- 			FROM qna -->
<!-- 			WHERE member_id = #{member_id} -->
	</select>
	
<!-- 	마이페이지 - 1:1문의 상세보기 -->
	<select id="selectQna" resultType="com.project.Smallbox.vo.QnaVO">
		SELECT *
			FROM qna
			WHERE qna_idx = #{qna_idx}
	</select>
	
<!-- 	마이페이지 1:1문의 관리자 답변 작업 전, 원본글의 qna_re_ref, qna_re_seq 조정하는 작업 -->
	<update id="updateOriginal">
		UPDATE qna
			SET
				qna_re_seq = qna_re_seq + 1
			WHERE
				qna_re_ref = #{qna_re_ref}
			AND
				qna_re_seq > #{qna_re_seq}
	</update>
	
<!-- 	마이페이지 1:1문의 관리자 답변 작업 -->
	<insert id="insertReply">
		<selectKey keyProperty="qna_idx" resultType="int" order="BEFORE">
<!-- 			가장 큰 문의글 번호(qna_idx) 조회 -->
			SELECT MAX(qna_idx) FROM qna
		</selectKey>
		INSERT 
			INTO qna 
			VALUES (
				#{qna_idx} + 1
				,#{qna_subject}
				,#{qna_content}
				,now()
				,#{qna_re_ref}
				,#{qna_re_lev} + 1
				,#{qna_re_seq} + 1
				,#{member_id}
			)
	</insert>
	
<!-- 	마이페이지 1:1문의글 삭제 작업 -->
	<delete id="deleteQna">
		DELETE
			FROM qna
			WHERE qna_idx = #{qna_idx}
	</delete>
	
<!-- 	마이페이지 영화상세메뉴의 리뷰창으로의 이동을 위해 예약번호로 영화번호 찾는 작업 -->
	<select id="selectMovie_idx" resultType="int">
		SELECT m.movie_idx
			FROM movie m
			JOIN reserve r
			ON m.movie_title=r.theater_title
			WHERE res_idx= #{res_idx}
	</select>
	
</mapper>
